@import './globals';

.about-section {
  margin-top: 30vh;
  @include weird-height{
    margin-top: 15em;
  }
  font-family: $Apercu;
} 

.highlight {
  font-weight: 500;
  text-decoration: none;
  color: var(--mainColor);
}

.highlight:hover {
  text-decoration: none;
  color: var(--darkerColor);
}