nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.logo {
  font-size: 1.5em;
  text-decoration: none;
  color: #000000;
}

.main-nav {
  display: flex;
  list-style-type: none;
}

.main-nav li {
  text-decoration: none;
  color: grey;
  font-size: 0.85em;
  padding: 0.45rem;
}