// Global layout

@import './_globals';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: $yellow;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  color: $dark-grey;
  font-family: $Apercu;
  line-height: 1.5;
  width: 100%;
}

a {
  @include transition;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

@function random-color() {
  $value: "black";

  @if random(5)==1 {
    $value: "#DAF7A6";
  }

  @else if random(5)==2 {
    $value: "#FFC300";
  }

  @else if random(5)==3 {
    $value: "#FF5733";
  }

  @else if random(5)==4 {
    $value: "#82E0AA";
  }

  @else {
    $value: "#85C1E9";
  }

  @return unquote($value);
}

@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #{random-color()}";

  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #{random-color()}";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(400);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(200);

.lgContainer {
  background-color: #fffcf7;
  // overflow: hidden;
}

.content {
  max-width: 80%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.content * {
  scroll-snap-align: start;
  position: relative;
}

#stars1 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-small;
  position: relative;
  // animation: animStar 150s linear infinite;
}

#stars2 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-medium;
  position: relative;
  // animation: animStar 100s linear infinite;
}

#stars3 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-big;
  position: relative;
  // animation: animStar 50s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }

  to {
    transform: translateY(0px);
  }
}

.section {
  display: flex;
  justify-content: center;

  @include tablet {
    display: block;
  }

  &-title {
    flex-shrink: 0;
    width: fit-content;
    margin-right: 70px;
    color: var(--mainColor);
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: larger;
    line-height: 1.5em;
    width: 135px;

    @include desktop {
      margin-right: 50px;
      text-align: left;
    }

    @include tablet {
      max-width: fit-content;
      width: auto;
      text-align: left;

    }
  }

  &-content {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 700px;

    @include tablet {
      padding-top: 30px;
      margin-left: 20px;
    }

    p {
      margin-top: 0;
      margin-bottom: 25px;
    }

    .underline-link {
      position: relative;
      display: inline-block;

      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $black;
        content: '';
        opacity: 0;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        transform: translateY(-5px);
      }

      &:hover,
      &:focus {
        &:after {
          height: 2px;
          border-radius: 3px;
          opacity: 1;
          transform: translateY(-2px);
        }
      }
    }
  }
}