$font-stack: sans-serif;
$font-weight: 300;

.skills-main {
  margin-top: 10em;
}

.skills-chunk {
  line-height: 1.6em;
  display:flex;
  justify-content: space-between;
  .skills-list {
    list-style-type: none;
    font-family: $font-stack;
    font-weight: $font-weight;
    .title {
      font-size: larger;
      margin-bottom: 1em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .skills-category-item {
      margin: 3px 0;
      font-size: 0.95rem;
    }
  }
}

