@import './globals';

.skills-main {
  margin-top: 10em;
  font-family: $Apercu;
}

.skills-chunk {
  display: flex;
  justify-content: space-between;
  @include weird-medium {
    flex-wrap: wrap;
  }
  .skills-category {
    @include weird-medium {
      width: 40%;
      margin-right: 2vw;
      margin-bottom: 25px;
    }
    &-label {
      font-weight: 500;
      font-size: larger;
      margin-bottom: 0.25em;
    }
    &-item {
      columns: #373535;
      line-height: 1.5em;
      font-size: large;
    }
  }
}